<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kampungmc</title>
    <!-- cdn -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
      
    <link rel="icon" type="image/png" href="/image/favicon-32x32.png" sizes="32x32" />
    <link rel="stylesheet" href="/style.css">
     

</head>
<body style="visibility:hidden ">


    <div class="header-top">
        <a href="/" class="header-top-brand">   Kampung Smp </a>
         
        <ul class="header-top-lists">
            <li><a href="/store">Store</a></li>

            <% if(user) { %>
                <li style="border-bottom: 2px solid #ddd; padding-bottom:1px;"><a href="#"><%= user.username %> </a></li>
                <li> <a href="/logout" class="btn btn-login">logout   </a> </li>
            <% }else { %>
                <li> <a href="/login" class="btn btn-login">login    </a> </li>
            <% } %>
            
            
        </ul>

        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    
    </div>    


 