<%- include("./partials/header") %>

<header>

    <div class="header-content">
        <div class="content-container">
            <img class="content-image" src="http://www.kampungmc.me/img/logo.png" alt="">
            <p class="lead">The Most beautifull minecraft server.......</p>
            <p class="ip tooltip-main text" data-clipboard-text="play.kampungmc.me" aria-label="click to copy" data-balloon-pos="left" >play.kampungmc.me</p>
            <a href="#" class="btn btn-primary"> <span>Learn More</span> <i class="fas fa-chevron-right"></i> </a>
        </div>
    </div>


    <ul class="background-image">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</header>  


<!-- tab -->

<div class="tabs">

    <!-- tab 1 -->
    <div id="tab-1" class="tab active-tab">
        <i class="tab-icon fas fa-poll"></i>
        <p>Linux Server</p>
    </div>
    
     <!-- tab 2 -->
    <div id="tab-2" class="tab">
        <i class="tab-icon fas fa-user"></i>
        <p>Over 1.000 player</p>
    </div>
    
     <!-- tab 3 -->
    <div id="tab-3" class="tab">
        <i class="tab-icon fas fa-envelope"></i>
        <p>fast response</p>
    </div>

</div>

<div class="tab-contents">

    <!-- tab 1 content -->
    <div id="tab-1-content" class="show">
      <div class="container"> <!--adding a container -->
        <div class="image">
            <img src="https://images.unsplash.com/photo-1586772002345-339f8042a777?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">

        </div>

        <div class="description">
            <p class="description-lead">
                Our Server
            </p>
            
            <ul>
                <li>16GB Ram</li>
                <li>1TB SSD</li>
                <li>Ubuntu 1.25</li>
                <li>10.000 player maximum</li>
            </ul>
        </div>

     </div>

    </div>

    <!-- 2 content -->
    <div id="tab-2-content" >
       <h3>Most Active Player</h3>
       <table class="rank-table">

           <thead>
              <tr>
                  <th></th>
                  <th>Money</th>
                  <th>Job</th>
                  <th>playTime</th>
                  <th>ranks</th>
              </tr>
           </thead>

           <tbody>
             <tr>
                <td>Marcus Julius Santos</td>
                <td>$50.000</td>
                <td>Farmer</td>
                <td>150h</td>
                <td>1</td>
             </tr>

             <tr>
                <td>Ashley d lambor</td>
                <td>$40.000</td>
                <td>miner</td>
                <td>130h</td>
                <td>2</td>
             </tr>

             <tr>
                <td>Swadrtu Lemmert</td>
                <td>$25.000</td>
                <td>guard</td>
                <td>100h</td>
                <td>3</td>
             </tr>

             <tr>
                <td>Debber Uzumaki</td>
                <td>$10.000</td>
                <td>builder</td>
                <td>80h</td>
                <td>4</td>
             </tr>

             <tr>
                <td>Dr Swanson</td>
                <td>$8.500</td>
                <td>miner</td>
                <td>50h</td>
                <td>5</td>
             </tr>

             <tr>
                <td>Hau han</td>
                <td>$5.500</td>
                <td>guard</td>
                <td>50h</td>
                <td>6</td>
             </tr>

            
           </tbody>

       </table>
    </div>

    <!-- tab 3 content -->
    <div id="tab-3-content">
       <h3>Subscription</h3>
       <p>u will get kampungmc news</p>

       <div class="subscribe">
            
            <div class="promotion">
                <li> <span>1</span> online 24/7 for u</li>
                <li> <span>2</span> news every week</li>
                <li> <span>3</span> so subscribe, its free</li>
            </div>
          
            <form class="form-content">
                <label for="email">Email</label>
                <input type="email" class="input-content" required>

                <button class="btn btn-sm btn-primary form-button">Submit!</button>
            </form>
       </div>

       
    </div>

</div>

<hr class="pembatas">


<!-- video section -->
<section class="video-section">

    <div class="video-container">
        <h2>Video Intro</h2>    

        <iframe class="video-item video-show" src="https://www.youtube.com/embed/238J3OEOfhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

        <iframe class="video-item" src="https://www.youtube.com/embed/zq3E2-YgFEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

        <iframe class="video-item" src="https://www.youtube.com/embed/Q8iKXrZ0IQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        
        <iframe class="video-item" src="https://www.youtube.com/embed/6k6zenVHE9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

        <div class="buttons">
            <div class="button-1 video-button">
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="button-2 video-button" >
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>

    </div>

</section>  


<section class="minigame">

    <img class="creeper-awman" src="http://www.pngmart.com/files/3/Creeper-PNG-Transparent-Image.png" alt="">

     <div class="community-form">  

         <article class="community-container">
            <div class="community-image first-order">
                <img src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
             </div>
    
             <div class="community-content last-order">
                <h3>Community Forum </h3>
                <p>Available now! Fight your way through an all-new action-adventure game, inspired by classic dungeon crawlers and set in the Minecraft universe!</p>
                
                <button class="btn btn-primary btn-sm">Learn more!</button>
             </div>
         </article>

         <article class="community-container">
            <div id="imageof-hope" class="community-image last-order">
                <img src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="">
             </div>
    
             <div class="community-content first-order">
                <h3>About </h3>
                <p>Available now! Fight your way through an all-new action-adventure game, inspired by classic dungeon crawlers and set in the Minecraft universe!</p>
                
                <button class="btn btn-primary btn-sm">Learn more!</button>
             </div>
         </article>
        
         
        </div>


</section>


<section class="blogs">
   
    <article class="blogs-header"> 
        <div>
            <h3>Blogs!</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, debitis.</p>
            <button class="btn btn-sm btn-primary">see more</button>
        </div>   
    </article>


    <article class="blogs-side1">
        <div>
            <h3>Major Update</h3>
            <button class="btn btn-sm btn-primary">more info</button>
        </div>   
    </article>


    <article class="blogs-side2">
        <div>
            <h3>Bug Fixes!</h3>
            <button class="btn btn-sm btn-primary">more info</button>
        </div>   
    </article>

</section>



<h1 class="rank-header">Ranks</h1>

<div class="main-cards">
    <div class="card-cell">
       <img class="card-image" src="http://www.kampungmc.me/img/rt.png" alt="">
       <h3 class="card-name">RT</h3>
       <p class="card-price">RP 10.000</p>

       <button class="btn btn-secondary"> buy now</button>
    </div>

    <div class="card-cell">
       <img class="card-image" src="http://www.kampungmc.me/img/rw.png" alt="">
       <h3 class="card-name">RW</h3>
       <p class="card-price">RP 10.000</p>

       <button class="btn btn-secondary"> buy now</button>
    </div>

    <div class="card-cell">
       <img class="card-image" src="http://www.kampungmc.me/img/lurah.png" alt="">
       <h3 class="card-name">Lurah</h3>
       <p class="card-price">RP 10.000</p>

       <button class="btn btn-secondary"> buy now</button>
    </div>

    <div class="card-cell">
       <img class="card-image" src="http://www.kampungmc.me/img/camat.png" alt="">
       <h3 class="card-name">camat</h3>
       <p class="card-price">RP 10.000</p>

       <button class="btn btn-secondary"> buy now</button>
    </div>

    <div class="card-cell">
       <img class="card-image" src="http://www.kampungmc.me/img/bupati.png" alt="">
       <h3 class="card-name">bupati</h3>
       <p class="card-price">RP 10.000</p>

       <button class="btn btn-secondary"> buy now</button>
    </div>

    <div class="card-cell">
       <img class="card-image" src="image/gubernur-removebg-preview.png" alt="">
       <h3 class="card-name">gubernur</h3>
       <p class="card-price">RP 10.000</p>

       <button class="btn btn-secondary"> buy now</button>
    </div>

    

    
  </div>


  <footer>
    kampungmc.com
</footer>  
 

<%- include("./partials/footer") %>