<%- include("./partials/header") %>

<div class="form-container">
    <h1>Login</h1>

    <form action="/login" method="POST">
        <label for="username">username</label>
        <input id="username" type="text" name="username" placeholder="saia">
        
        <label for="password">password</label>
        <input id="password" type="password" name="password" placeholder="pass123">
    
        <button>submit</button>
    </form>
    
    <a class="register-link" href="/register">don't have an account?</a>
</div>


<%- include("./partials/footer") %>