<%- include("./partials/header") %>


<div class="form-container">
    <h1>Register</h1>

    <form action="/register" method="POST">
        <label for="username">username</label>
        <input id="username" type="text" name="username" placeholder="saia">
        
        <label for="password">password</label>
        <input id="password" type="password" name="password" placeholder="pass123">
    
        <button class="btn btn-primary">submit</button>
    </form>
</div>



<%- include("./partials/footer") %>