<%- include("../partials/header") %>

<div class="form-container">
    <h1>Log  in</h1>

    <form action="/auth/login" method="POST">
        <label for="username">username</label>
        <input id="username" type="text" name="username" placeholder="saia">
        
        <label for="password">password</label>
        <input id="password" type="password" name="password" placeholder="pass123">
    
        <button class="btn btn-primary">submit</button>
    </form>
    
    
    <p>don't have an account?   <a class="register-link" href="/auth/register">Register one here!</a></p>
    
</div>


<%- include("../partials/footer") %>