@import url("./lib/baloon.css");
@import url("./lib/flickty.css");

/* flickty */

.flickity-page-dots .dot {
  background: var(--secondary-bg-color);
}

.flickity-page-dots .dot.is-selected {
  background: #ddd;
}


.main-cards {
  margin:10px auto  48vh;
  width: 85%;
  
}

.rank-header {
  margin-top:100px;
  text-align: center;
  font-size: 38.4px;
  font-size: 2.4rem;
}

/* card-cell */
.card-cell {
  width: 28%;
  padding: 16px;
  margin-right: 10px;
  background: var(--secondary-bg-color);
  border-radius: 8px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
   
}


.card-cell .card-image {
  width: 48%;
}  

.card-cell .btn {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}




/* tooltip custom */

.tooltip-main {
  --balloon-color: var(--main-bg-color);
  --balloon-move: 55px;
}