/* responsive breakpoints */

@media screen and (min-width:1175px) {
    .video-container .buttons {
        display: block;
     }
     
 }
 
 @media screen and (max-width:976px) {
     /* header-top*/

     .header-top-lists {
        background-color: rgba(0,0,0,0.9);
        color:white;
        width:100%;
        height: 100vh;
        top:0;
        right:0;
        
        transform:translate(0,-100%);
     
        
        flex-direction: column;
        align-items: center;
     
     }

     .header-lists-active {
         transform: translate(0,0);
     }

     .header-top .burger {
          
        display: block;
    }

    .header-top-lists li {
        opacity: 0;
    }

    /* haeder-content */
    .content-image {
        width:90%;
    }

    .content-container .lead {
        font-size: 0.75rem;
    }


    /* tabs */

    div.tabs {
        padding:0 50px;
         
    }

    /* promotion span */
    .promotion span {
        display: none;
    }

    /* tab-1-content */
    div.description ul {
        list-style: none;
        font-size:2rem;
    }

    /* tab-2-content*/
    #tab-2-content {
        width:100%;
        margin:20px auto;
        text-align: center;
    }

    /* video-container */

    .video-container iframe {
        width:588px;
        height:480px;
        display: none;
    }

    /* */

    .card-cell {
        width: 40%;  
    }
    
    

    
 }

 @media screen and (max-width:695px) {

    /* .lead */
    .content-container .lead {
        display: none;
    }

    .content-image {
        width:118%;
    }

    /* tab-1-content */
    #tab-1-content .container{
       
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    div.description {
        align-self: flex-start;
    }

    div.description ul {
        font-size:2.4rem;
    }
    
     #tab-1-content div.image {
        margin-right: 0;
        
    }
    
    div.description p.description-lead {
        display: none;
    }

    /* tab-2-content */

    .rank-table {
         
        margin:48px auto;
        width: 90%;
        height: 65vh;
        
        font-size: 1rem;
        
    }
    
    .rank-table td {
        width: 20%; 
        height: 13vh;
    }

    /* */
    .main-cards {
        width:90%;
    }
      
 }

 @media screen and (max-width:594px) {

    /* header-content button */
    .content-container .btn:hover span {
        margin-right: 15px;
    }

    /* header 3 content, subscribetion */
    .promotion{    
        font-size: 1.85rem;
    }

    div.tabs {
        padding:0;
         
    }

    .tab .tab-icon{
         
        font-size: 4rem;
        margin-bottom: 10px;
     }
    
    /* content image */
    .content-image {
        width:145%;
        margin-bottom: 55px;
    } 

    /* button */
    .content-container .btn{
        font-size:0.9rem;
    }

    .content-container .btn:hover span {
        margin-right:0;
    }

    /* rank promotion  */
    section.rank-promotion p {
        display: none;
    }

    /* video promotion */

    .video-container iframe {
        width:380px;
        height:340px;
        display: none;
    }
    
    /* */

    .card-cell {
        width: 90%;  
    }
    
     
 }


