@import url("./header.css");
@import url("./burger.css");
@import url("./flickity.css");
@import url("./tabs.css");
@import url("./video-section.css");
@import url("./rank-promotion.css");


:root {
    --main-color:#ddd;
    --main-bg-color:rgb(48, 47, 47);
    --main-text-color:rgb(255,175,2);
    --secondary-bg-color:rgb(24, 24, 24);
}

 

.btn {
    --btn-primary-color:rgb(255, 175, 2);
    --btn-secondary-color:rgb(255, 72, 0);
    --btn-sm-size:1;
    --btn-md-size:2;
    --btn-lg-size:3;
}

* {
    margin:0;
    padding:0;
}

body {
    color:var(--main-color);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    color:white;
    text-decoration:none;
    font-size:19.2px;
    font-size:1.2rem;
}


/* footer */
footer {
    text-align: center;
    height: 10vh;
    background-color: var(--secondary-bg-color);
    
    display: -ms-grid;
    
    display: grid;
    place-content: center;
}

/* custom properties */

.btn {
    border-radius: 12px;
    padding:15px;
    margin:10px;
    margin-top:25px;

    outline:none;
    border:none;
    cursor: pointer;
    color:white;
}

.btn-sm {
    font-size:calc(var(--btn-sm-size)*1rem);
    
}

.btn-md {
    font-size:calc(var(--btn-md-size)*1rem); 

}

.btn-lg {
    font-size:calc(var(--btn-lg-size)*1rem);

}


.btn-primary {
    background-color: var(--btn-primary-color);

}

.btn-secondary {
    background-color: var(--btn-secondary-color);
}


@import "./media-queries.css";