/* tabs */
div.tabs {
    background-color: var(--secondary-bg-color);
    height: 35vh;
    padding:0 180px;
    text-align: center;
    color:var(--main-color);

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3,1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap:30px;
     
}

div.tab:hover {
    color:white;
}

div.tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tab .tab-icon{
   font-size:80px;
   font-size: 80px;
   font-size: 5rem;
   margin-bottom: 10px;
}

 
.active-tab {
   border-bottom :solid var(--main-text-color) 2px;
}



/* tab-contents */

.tab-contents{ 
   margin: 3% 0 1.56%;
    
}

/* hide and display tab-content*/
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}
 

/* tab-1-content */

#tab-1-content .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:85%;
    margin:20px auto;
}

#tab-1-content div.image {
    margin-right: 48px;
    
}

div.description p.description-lead {
    margin-bottom: 15px;
}

 
div.description ul {
    list-style: none;
    font-size:38.4px;
    font-size: 38.4px;
    font-size:2.4rem;
}

/* tab-2-content */

#tab-2-content {
    width:85%;
    margin:20px auto;
    text-align: center;
}

#tab-2-content h3 {
    font-size:32px;
    font-size: 32px;
    font-size: 2rem;
}

/* tab-2-content .rank-table*/

.rank-table {
    display: block;
    overflow-y: scroll;
    
    margin:48px auto;
    width: 70%;
    height: 65vh;

    font-size:22.4px;
    font-size: 22.4px;
    font-size: 1.4rem;
    color:white;
    border-collapse: collapse;
}

.rank-table td {
    width: 20%; 
    height: 13vh;
}

.rank-table tr:nth-of-type(even) {
    background-color: rgb(151, 151, 151);
}

/* tab-3-content */

#tab-3-content {
    text-align:center;
}

#tab-3-content h3 {
    color:white;
    font-size:28.8px;
    font-size: 28.8px;
    font-size: 1.8rem;
}

/* subscribe */

.subscribe {
     
    text-align: left;
    margin:48px auto;
    width: 70%;
    list-style: none;
}

.promotion{
   font-size:39.2px;
   font-size: 39.2px;
   font-size: 2.45rem;
   margin-bottom: 10px;
   color:white;
}

.promotion span {
    display: inline-block;
    border-radius: 150px;
    width: 5%;
    height: 8vh;
    line-height: 8vh;
    background-color: var(--secondary-bg-color);
    margin-right: 10px;

    text-align: center;
    font-size:16px;
    font-size: 16px;
    font-size: 1rem;
}

.form-content {
    margin-top: 25px;
}

.form-content .input-content {
    display: block;
    width: 100%;
    border-radius: 5px; 
    border:none;
    padding: 10px;
    box-sizing: border-box;
    font-size:17.6px;
    font-size: 17.6px;
    font-size: 1.1rem;
}

input:invalid {
    box-shadow: none;
}

.form-content .form-button {
    margin:0;
    margin-top:12px;
    border-radius: 5px;
}

/* hr.pembatas */
hr.pembatas {
    width:85%;
    margin:20px auto; 
}